.adv{
    background: linear-gradient(to bottom,rgb(21, 21, 24),rgb(43, 28, 60));
    max-width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0.7rem 0.7rem;
    border-radius: 20px;
}
.adv-text1{
    font-size: 1.8rem;
    color: white;
    margin: 1rem
}
.adv-text2{
    font-size: 1.3rem;
    color: rgb(182, 180, 180);
    margin: 1rem;
}

@media (max-width: 1024px) {
    .adv{
        min-width: 90%;
    
        
    }
    .adv-text1{
        font-size: 1.3rem;
        
        margin: 1rem
    }
    .adv-text2{
        font-size: 1rem;
        
        margin: 1rem;
    }

}
@media (max-width: 866px) {
    .adv{
        min-width: 90%;
        
    }
    .adv-text1{
        font-size: 1.3rem;
        
        margin: 1rem
    }
    .adv-text2{
        font-size: 1rem;
        
        margin: 1rem;
    }
}
@media (max-width: 414px) {
    .adv{
        min-width: 90%;
        
    }
    .adv-text1{
        font-size: 1.3rem;
        
        margin: 1rem
    }
    .adv-text2{
        font-size: 1rem;
        
        margin: 1rem;
    }
}